# File sementara
.env
.env.*
.phpunit.result.cache
bootstrap/cache/
storage/
vendor/

# File log
storage/logs/
storage/debugbar/

# File database
database/*.sqlite


# Direktori node_modules jika Anda menggunakan JavaScript npm
node_modules/

# Direktori yang berisi cache Composer
.composer/
